@model IEnumerable<QualityDesign>
@{

    ViewData["Title"] = "پارامتر کنترلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">پارامتر کنترلی</div>
    <div class="panel-body">
        <div class="btn-group">

            <i class="glyphicon glyphicon-plus"></i> @Html.ActionLink("درج جدید", "DynamicControlParameter", "QC")

        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>کد</th>
                    <th>شیفت</th>
                    <th>نام فرآیند</th>
                    <th>پارامتر کنترلی</th>
                    <th>مقدار</th>
                    <th>وضعیت پارامتر کیفی</th>
                    <th>وضعیت</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Shift)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProcessName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ControlParameter)</td>
                        <td>@Html.DisplayFor(modelItem => item.ValueLimit)</td>
                        <td>@Html.DisplayFor(modelItem => item.QParameterStatus)</td>
                        <td>@Html.DisplayFor(modelItem => item.Confirmation)</td>
                        <td>
                            <a id="editStudentModal" data-toggle="modal" asp-action="AddEditControlParameter" asp-area="QC" asp-route-id="@item.Id" data-target="#modal-action-student"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  ویرایش
                            </a>
                            <a id="deleteStudentModal" data-toggle="modal" asp-action="DeleteControlParameter" asp-area="QC" asp-route-id="@item.Id" data-target="#modal-action-student" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  حذف
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-student", AreaLabeledId = "modal-action-student-label", Size = ModalSize.Medium })

@section scripts
    {
    <script src="~/js/student-index.js" asp-append-version="true"></script>
}
